<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd"
       default-init-method="init"
       default-destroy-method="destroy">
    <aop:aspectj-autoproxy />


    <bean id="prototypeTask"
          class="com.devmind.springapp.impl.Task"
          scope="prototype"/>
    <bean id="singletonTask"
          class="com.devmind.springapp.impl.Task"/>
    <bean id="log" class="com.devmind.springapp.abs.MyLoggingAspect"/>
</beans>